@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");

// color variables
$dark-blue: hsl(240, 38%, 20%);
$grayish-blue: hsl(240, 18%, 77%);

// global styles
* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  font-size: 32px;
  color: $dark-blue;
  position: relative;

  &::after {
    content: "";
    background: url("./images/pattern-curve.svg") no-repeat bottom left / 100%
      100%;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 40rem;
    height: 9rem;
  }
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 100%;
}

p {
  letter-spacing: 1px;
  line-height: 1.4em;
  font-weight: 300;
}

.container {
  background: url("./images/pattern-bg.svg") no-repeat 87% 50%;
  max-width: 1400px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;

  &::before {
    content: "";
    background: url("./images/pattern-quotes.svg") no-repeat top left / 100%
      100%;
    position: absolute;
    top: 29%;
    left: 15%;
    width: 8rem;
    height: 6.5rem;
  }
}

.navigation {
  background: #ffffff;
  position: absolute;
  z-index: 2;
  padding: 0.5rem 1.2rem;
  border-radius: 50px;
  bottom: 17%;
  right: 38%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

  button {
    border: none;
    outline: none;
    background: transparent;
    padding: 0.5em 0.3rem;
    cursor: pointer;

    img {
      width: 0.8rem;
    }
  }

  #prev {
    top: 50%;
    right: 0;
  }
  #next {
    top: 50%;
    right: 0;
    margin-left: 2.7rem;

    img {
      width: 0.9rem;
    }
  }
}

// end of glabal styles

.slider {
  & > div {
    flex: 1;
  }

  .content {
    transform: translateX(7rem);

    .info {
      justify-content: flex-start;
      .name {
        font-size: 1.3rem;
        margin: 0;
      }

      span {
        margin-left: 1rem;
        font-size: 1.3rem;
        color: $grayish-blue;
      }
    }
  }

  .image {
    box-shadow: 0.5px 40px 25px rgba(0, 0, 0, 0.15);
  }
}

#first-slide {
  &.show {
    display: flex;
    transform: translateX(0);
    opacity: 1;
  }

  &.hide {
    display: none;
    transform: translateX(-2rem);
    opacity: 0;
  }
}

#second-slide {
  display: none;
  transform: translateX(2rem);
  opacity: 0;

  &.show {
    display: flex;
    transform: translateX(0);
    opacity: 1;
  }

  &.hide {
    display: none;
    transform: translateX(2rem);
    opacity: 0;
  }
}

@media screen and (max-width: 830px) {
  body {
    &::after {
      width: 80%;
      height: 6rem;
    }
  }

  p {
    font-size: 1.4rem;
    max-width: 35rem;
  }

  img {
    width: 70%;
    margin: 0 auto;
  }

  .flex {
    flex-direction: column-reverse;
  }

  .container {
    text-align: center;
    padding: 0 2rem;
    background: url(./images/pattern-bg.svg) no-repeat 50% 2%/70% 58%;

    &::before {
      content: "";
      background: url("./images/pattern-quotes.svg") no-repeat center / 100%
        100%;
      position: absolute;
      top: 56%;
      left: 41%;
      width: 6rem;
      height: 5rem;
    }
  }

  .navigation {
    width: 7rem;
    height: 3.2rem;
    display: inline-flex;
    flex-direction: row;
    padding: 0.4rem 1rem;
    top: 46%;
    left: 41%;

    #prev {
      top: 0;
      right: 0;
    }
    #next {
      top: 0;
      right: 0;
      margin-left: 1.7rem;
    }
  }

  .slider {
    min-height: 90vh;

    .content {
      transform: translateX(0);

      .info {
        flex-direction: column;

        .name {
          font-size: 1.3rem;
        }

        span {
          font-size: 1.3rem;
          margin-left: 0rem;
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .container {
    padding: 0 1.5rem;
    background: url(./images/pattern-bg.svg) no-repeat 50% 3%/88% 42%;

    &::before {
      background: url("./images/pattern-quotes.svg") no-repeat center / 100%
        100%;
      top: 52%;
      left: 41%;
      width: 5rem;
      height: 4rem;
    }
  }

  img {
    width: 85%;
  }

  p {
    font-size: 1.15rem;
  }

  .navigation {
    width: 6rem;
    height: 2.5rem;
    top: 42%;
    left: 34%;

    button {
      #prev,
      #next {
        img {
          width: 1.2rem;
        }
      }
    }
  }

  .slider {
    .content {
      .info {
        .name {
          font-size: 1.1rem;
        }

        span {
          font-size: 1.1rem;
          margin-top: 0.2rem;
        }
      }
    }
  }
}
