@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  font-size: 32px;
  color: #202046;
  position: relative;
}

body::after {
  content: "";
  background: url("./images/pattern-curve.svg") no-repeat bottom left/100% 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40rem;
  height: 9rem;
  z-index: -1;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

img {
  max-width: 100%;
}

p {
  letter-spacing: 1px;
  line-height: 1.4em;
  font-weight: 300;
}

.container {
  background: url("./images/pattern-bg.svg") no-repeat 87% 50%;
  max-width: 1400px;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  position: relative;
}

.container::before {
  content: "";
  background: url("./images/pattern-quotes.svg") no-repeat top left/100% 100%;
  position: absolute;
  top: 29%;
  left: 15%;
  width: 8rem;
  height: 6.5rem;
}

.navigation {
  background: #ffffff;
  position: absolute;
  z-index: 2;
  padding: 0.5rem 1.2rem;
  border-radius: 50px;
  bottom: 17%;
  right: 38%;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.navigation button {
  border: none;
  outline: none;
  background: transparent;
  padding: 0.5em 0.3rem;
  cursor: pointer;
}

.navigation button img {
  width: 0.8rem;
}

.navigation #prev {
  top: 50%;
  right: 0;
}

.navigation #next {
  top: 50%;
  right: 0;
  margin-left: 2.7rem;
}

.navigation #next img {
  width: 0.9rem;
}

.slider > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.slider .content {
  -webkit-transform: translateX(7rem);
          transform: translateX(7rem);
}

.slider .content .info {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.slider .content .info .name {
  font-size: 1.3rem;
  margin: 0;
}

.slider .content .info span {
  margin-left: 1rem;
  font-size: 1.3rem;
  color: #babacf;
}

.slider .image {
  -webkit-box-shadow: 0.5px 40px 25px rgba(0, 0, 0, 0.15);
          box-shadow: 0.5px 40px 25px rgba(0, 0, 0, 0.15);
}

#first-slide.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

#first-slide.hide {
  display: none;
  -webkit-transform: translateX(-2rem);
          transform: translateX(-2rem);
  opacity: 0;
}

#second-slide {
  display: none;
  -webkit-transform: translateX(2rem);
          transform: translateX(2rem);
  opacity: 0;
}

#second-slide.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

#second-slide.hide {
  display: none;
  -webkit-transform: translateX(2rem);
          transform: translateX(2rem);
  opacity: 0;
}

@media screen and (max-width: 830px) {
  body::after {
    width: 80%;
    height: 6rem;
  }
  p {
    font-size: 1.4rem;
    max-width: 35rem;
  }
  img {
    width: 70%;
    margin: 0 auto;
  }
  .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .container {
    text-align: center;
    padding: 0 2rem;
    background: url(./images/pattern-bg.svg) no-repeat 50% 2%/70% 58%;
  }
  .container::before {
    content: "";
    background: url("./images/pattern-quotes.svg") no-repeat center/100% 100%;
    position: absolute;
    top: 56%;
    left: 41%;
    width: 6rem;
    height: 5rem;
  }
  .navigation {
    width: 7rem;
    height: 3.2rem;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0.4rem 1rem;
    top: 46%;
    left: 41%;
  }
  .navigation #prev {
    top: 0;
    right: 0;
  }
  .navigation #next {
    top: 0;
    right: 0;
    margin-left: 1.7rem;
  }
  .slider {
    min-height: 90vh;
  }
  .slider .content {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .slider .content .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .slider .content .info .name {
    font-size: 1.3rem;
  }
  .slider .content .info span {
    font-size: 1.3rem;
    margin-left: 0rem;
  }
}

@media screen and (max-width: 375px) {
  .container {
    padding: 0 1.5rem;
    background: url(./images/pattern-bg.svg) no-repeat 50% 3%/88% 42%;
  }
  .container::before {
    background: url("./images/pattern-quotes.svg") no-repeat center/100% 100%;
    top: 52%;
    left: 41%;
    width: 5rem;
    height: 4rem;
  }
  img {
    width: 85%;
  }
  p {
    font-size: 1.15rem;
  }
  .navigation {
    width: 6rem;
    height: 2.5rem;
    top: 42%;
    left: 34%;
  }
  .navigation button #prev img,
  .navigation button #next img {
    width: 1.2rem;
  }
  .slider .content .info .name {
    font-size: 1.1rem;
  }
  .slider .content .info span {
    font-size: 1.1rem;
    margin-top: 0.2rem;
  }
}
/*# sourceMappingURL=styles.css.map */